<! DOCTYPE html>
<!-- Path: templates/Account/messaging.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Implement html for inbox from Account/views -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Inbox</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Inbox</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                            <tr>
                                <td>{{ message.sender }}</td>
                                <td>{{ message.message }}</td>
                                <td>{{ message.created_at }}</td>
                                <td>
                                    <a href="{{ request.path }}?action=read&id={{ message.id }}">Read</a>
                                    <a href="{{ request.path }}?action=delete&id={{ message.id }}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

