<! DOCTYPE html>
<!-- Path: templates/Account/messaging.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
      {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
<style>
h5{
  font-size: 30px;
  color: #6fb7e5;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background: -webkit-linear-gradient(#25c481, #25b7c4);
  background: linear-gradient(#ffffff, #00eaff);
  font-family: 'Roboto', sans-serif;
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
    background: -webkit-linear-gradient(#25c481, #25b7c4);
  background: linear-gradient(#ffffff, #00eaff);
  font-family: 'Roboto', sans-serif;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
    background: -webkit-linear-gradient(#25c481, #25b7c4);
  background: linear-gradient(#ffffff, #00eaff);
  font-family: 'Roboto', sans-serif;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
background: linear-gradient(#ffffff, #00eaff);
}



.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.panel-default {
    border-color: #ddd;
    width: 83%;
    background: -webkit-linear-gradient(#25c481, #25b7c4);
    background: linear-gradient(#39b9df, #2f5c60);
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 80%;
}
a {
color:black;
}
</style>
    <div style="background: linear-gradient(#ffffff, #00eaff);
    display: block;
    border-radius: 16px;
    width: 673px;
    height: 41px;
    margin: 9px 10px 10px 138px;">
  <h5 style="color:black;" >The Requests of {{get_user.username}} <a style="color:blue;" href="/Account/user_profile/{{get_user.username}}"> View Profile {{get_user.username}}</a></h5>
</div>
  <div class="tbl-header" style="border-radius: 135px;">
    <table cellpadding="0" cellspacing="0" border="0" >
      <thead>
        <tr>
             <th style="    background: transparent;
    color: black;
    font-weight: bold;">User</th>
             <th style="    background: transparent;
    color: black;
    font-weight: bold;" >Requested Date</th>
             <th style="    background: transparent;
    color: black;
    font-weight: bold;">Requested Content</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content" style="border-radius: 30px;">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {% for request in requests %}
                            <tr>
                        <td><a href="/Account/user_profile/{{request.user}}">{{ request.user }}</a></td>
                        <td>{{ request.created_at }}</td>
                        <td>{{ request.description }}</td>
                        <td><a href="/Account/user_profile/{{request.user}}/view_request/{{request.id}}"> View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
              </thead>
    </table>
  </div>


{% endblock %}


