<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <div class="logo" style="width: 63px;
    width: 302px;
    height: 156px;
    padding: 58px;
    margin: -68px 265px;">
        <h1><a href="#"><span>Sign</span>Up<small>Join a better world</small></a></h1>
      </div>
    <div class="te" style="padding: 125px;">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

          <input type="submit" name="submit" id="submit">
    </div>
        </form>

      </div>
</head>
<body>

</body>
</html>