{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
function show(shown, hidden) {
  document.getElementById(shown).style.display='block';
  document.getElementById(hidden).style.display='none';
  return false;
}
</script>
<div>
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
<!--</div>
  {% for user in get_user %}
    <div class="content">
      <div class="content_bg">
        <div class="mainbar">
          <div class="article">
            <h2><span>Template License</span></h2>
            <div class="clr"></div>
            <p class="post-data"><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">{{user.username}}</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
            <img src="{% static 'home/images/images_1.jpg' %}" width="613" height="193" alt="" />
            <p>This is a free CSS website template by RocketWebsiteTemplates.com. This work is distributed under the Creative Commons Attribution 3.0 License, which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to RocketWebsiteTemplates.com.</p>
            <p class="spec"><a href="#" class="com fr">Comments (3)</a> <a href="#" class="rm fl">Read more</a></p>
            <div class="clr"></div>
          </div>
  {% endfor %}
  --!>
{% for contact in page_obj %}
              <div class="article">
            <h2><span>Users</span></h2>
            <div class="clr"></div>
            <p class="post-data"> User Name <a href="#">{{ contact.username }}</a> &nbsp;|&nbsp;<a href="/Account/user_profile/{{ contact.username }}">Link Profile</a></p>
             {% for p in profile %}
                  {% if p.user.username == contact.username %}
                <img src="{{p.image.url}}" alt="user_profile" style="element.style
    width: 151px;
    height: 187px;
    border-radius: 66px;
" >
                  <h1>sds</h1>
                  {% endif %}
                  {% endfor %}
          </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<div class="footer">
  <div class="footer_resize">
    <p class="lf">Copyright &copy; <a href="#">Ziv&lev&shlomo&gal</a>. All Rights Reserved</p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>
{% endblock content %}